## Create database in user system

In [1]:
import os
import pymysql
import pandas as pd
from getpass import getpass
import requests
from tqdm.notebook import tqdm
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from sqlalchemy.dialects import mysql

from pathlib import Path

In [2]:
#data_base_folder = '../../data/group1/'  
root_password = getpass(prompt='MySQL root password: ')

MySQL root password: ········

In [3]:
# Create a new database chebi with root
connection_root = pymysql.connect(host='localhost',
                                  user='root',
                                  password=root_password,
                                  charset='utf8mb4')
cursor_root = connection_root.cursor()
cursor_root.execute("drop database if exists pd_atlas")
cursor_root.execute("create database if not exists pd_atlas")

1

In [4]:
# Create new user pd_user (password: pd_password) with root. Don't forget to flush;
cursor_root.execute("CREATE USER IF NOT EXISTS 'pd_user'@'localhost' IDENTIFIED BY 'pd_password'")
cursor_root.execute("GRANT ALL ON `pd_atlas`.* TO 'pd_user'@'localhost'")
cursor_root.execute("flush privileges")
connection_root.close()

In [5]:
sql = """
CREATE TABLE table1(
    id INT PRIMARY KEY;
    gene_name TEXT;
    p_value FLOAT,
    log2foldchange FLOAT;
    group TEXT,
    experiment TEXT,
    exp_id INT)
"""

# CREATE TABLE sales.visits (
#     visit_id INT PRIMARY KEY IDENTITY (1, 1),
#     first_name VARCHAR (50) NOT NULL,
#     last_name VARCHAR (50) NOT NULL,
#     visited_at DATETIME,
#     phone VARCHAR(20),
#     store_id INT NOT NULL,
#     FOREIGN KEY (store_id) REFERENCES sales.stores (store_id)
# );

# 	Gene Name	p-value	log2foldchange	group	experiment	exp_id

## download datas files

In [6]:
# # Download ChEBI SQL file
# # create data folder if not exists
# if not os.path.exists(DATA_DIR):
#     os.makedirs(DATA_DIR)

# # Download form here except references and structures:
# # Note: Students from BioDb Lab 2022 found that 3star version seems to have noch the same structure as the SQL
# chebi_ftp_base = 'http://ftp.ebi.ac.uk/pub/databases/chebi/Flat_file_tab_delimited/'
# chebi_files = ['chemical_data.tsv', 
#          'comments.tsv', 
#          'compound_origins.tsv', 
#          'compounds.tsv.gz', 
#          'database_accession.tsv', 
#          'names.tsv.gz', 
#          'relation.tsv']

# for chebi_file in tqdm(chebi_files):
#     file_name = chebi_file
#     path = data_base_folder + file_name
#     if not os.path.exists(path):
#         url = chebi_ftp_base + file_name
#         r = requests.get(url)
#         open(data_base_folder + file_name, 'wb').write(r.content)

In [5]:
## Change folder name

home_dir = Path.home()
PROJECT_DIR = home_dir.joinpath(".group1")
DATA_DIR = PROJECT_DIR.joinpath("data")
DB_PATH = PROJECT_DIR.joinpath("group1.db")

# create data folder if not exists
if not os.path.exists(DATA_DIR):
    os.makedirs(DATA_DIR)

# download data files
atlas_ftp = "http://ftp.ebi.ac.uk/pub/databases/microarray/data/atlas/experiments/"
experiments = [
    "E-GEOD-7307/E-GEOD-7307_A-AFFY-44-analytics.tsv",
    "E-MEXP-1416/E-MEXP-1416_A-AFFY-54-analytics.tsv",
    "E-GEOD-7621/E-GEOD-7621_A-AFFY-44-analytics.tsv",
    "E-GEOD-20168/E-GEOD-20168_A-AFFY-33-analytics.tsv",
    "E-GEOD-20333/E-GEOD-20333_A-AFFY-41-analytics.tsv"]

datafile_paths = [] # store data files path

for exp in experiments:
    filename = exp.split('/')[1]
    path = os.path.join(DATA_DIR, filename)
    datafile_paths.append(path)
    if not os.path.exists(path):
        url = atlas_ftp + exp
        req = requests.get(url)
        open(path, 'wb').write(req.content)

In [6]:
datafile_paths

['/home/ceb/.group1/data/E-GEOD-7307_A-AFFY-44-analytics.tsv',
 '/home/ceb/.group1/data/E-MEXP-1416_A-AFFY-54-analytics.tsv',
 '/home/ceb/.group1/data/E-GEOD-7621_A-AFFY-44-analytics.tsv',
 '/home/ceb/.group1/data/E-GEOD-20168_A-AFFY-33-analytics.tsv',
 '/home/ceb/.group1/data/E-GEOD-20333_A-AFFY-41-analytics.tsv']

### read and preprocess datafiles to insert in database

In [7]:
exp_group = {'E-MEXP-1416' : ['g2_g1', 'g4_g3'],
             'E-GEOD-20333' : ['g2_g1'],
             'E-GEOD-7307' : ['g83_g17','g82_g16', 'g72_g15', 'g63_g14', 'g48_g13'],
             'E-GEOD-7621' : ['g1_g2'],
             'E-GEOD-20168' : ['g2_g1']}

In [8]:
parkinson_exp = pd.DataFrame(exp_group.items(), columns=['experiment', 'group_id'])
parkinson_exp = parkinson_exp.explode('group_id', ignore_index=True)
# parkinson_exp['id'] = [i for i in range(1, len(parkinson_exp) + 1)]
# parkinson_exp = parkinson_exp[['id', 'experiment', 'group_id']]
# parkinson_exp.set_axis([i for i in range(1, len(parkinson_exp) + 1)], axis=0, inplace=True)
parkinson_exp.index += 1
#parkinson_exp.insert (0, "id", [i for i in range(1, len(parkinson_exp) + 1)])
parkinson_exp#.reset_index(level=0)

      experiment group_id
1    E-MEXP-1416    g2_g1
2    E-MEXP-1416    g4_g3
3   E-GEOD-20333    g2_g1
4    E-GEOD-7307  g83_g17
5    E-GEOD-7307  g82_g16
6    E-GEOD-7307  g72_g15
7    E-GEOD-7307  g63_g14
8    E-GEOD-7307  g48_g13
9    E-GEOD-7621    g1_g2
10  E-GEOD-20168    g2_g1

In [9]:
# Create tables for each experiment
# Each experiment has different groups with pvalue, log2foldchange for same genes
# hence, create a small tables with gene name, pvalue and log2foldchange for every group in a experiment
# and these small tables to one big table of single experiment
# concate tables of different groups with same experiment to one experiment table

# store tables (to insert in database)
exp_tables = {}

for path in datafile_paths:
    # read data files
    data = pd.read_csv(path, sep='\t')
    data.dropna(subset='Gene Name', inplace=True, axis=0)
    exp_name = os.path.basename(path).split('_')[0]
    # find the groups with same the experiment
    groups = parkinson_exp[parkinson_exp['experiment'] == exp_name]
    # concat group tables
    for index, (exp_name, group) in groups.iterrows():
        colnames = {f'{group}.p-value' : 'p-value',
                   f'{group}.log2foldchange' : 'log2foldchange'}
        df = data[['Gene Name', f'{group}.p-value', f'{group}.log2foldchange']].copy(deep=False)
        df.rename(columns=colnames, inplace=True)
        df.set_axis([i for i in range(1, len(df) + 1)], axis=0, inplace=True)
        df.rename_axis('id', inplace=True)
        df['group'] = [group for i in range(len(df))]           # delete later
        df['experiment'] = [exp_name for i in range(len(df))]   # delete later
        df['exp_id'] = [index for i in range(len(df))]          # change column name
        if exp_name in exp_tables:
            group_df = exp_tables[exp_name].copy(deep=False)
            exp_tables[exp_name] = pd.concat([group_df, df])
        else:
            exp_tables[exp_name] = df

In [11]:
exp_tables['E-GEOD-7307']

       Gene Name   p-value  log2foldchange    group   experiment  exp_id
id
1         TSPAN6  0.095392            -0.5  g83_g17  E-GEOD-7307       4
2           TNMD  0.937077             0.0  g83_g17  E-GEOD-7307       4
3           DPM1       NaN            -0.4  g83_g17  E-GEOD-7307       4
4          SCYL3       NaN             0.0  g83_g17  E-GEOD-7307       4
5       C1orf112       NaN             0.0  g83_g17  E-GEOD-7307       4
...          ...       ...             ...      ...          ...     ...
19201  LINC01949       NaN             0.1  g48_g13  E-GEOD-7307       8
19202     NPBWR1  0.483185             0.2  g48_g13  E-GEOD-7307       8
19203       CDR1  0.504596            -0.7  g48_g13  E-GEOD-7307       8
19204     ACTL10       NaN             0.0  g48_g13  E-GEOD-7307       8
19205     PRRC2B       NaN             0.0  g48_g13  E-GEOD-7307       8

[96025 rows x 6 columns]

In [12]:
exp_tables.keys()

dict_keys(['E-GEOD-7307', 'E-MEXP-1416', 'E-GEOD-7621', 'E-GEOD-20168', 'E-GEOD-20333'])

In [13]:
entries = []
for i, j in exp_tables.items():
    entries.append(len(j))
    print(i, j.shape)

E-GEOD-7307 (96025, 6)
E-MEXP-1416 (38096, 6)
E-GEOD-7621 (19121, 6)
E-GEOD-20168 (11900, 6)
E-GEOD-20333 (7597, 6)

In [14]:
sum(entries)

172739

In [9]:
exp_tables['E-GEOD-7307']['group'].value_counts()

g83_g17    19205
g82_g16    19205
g72_g15    19205
g63_g14    19205
g48_g13    19205
Name: group, dtype: int64

In [10]:
tt = exp_tables['E-MEXP-1416']
tt

      Gene Name  p-value  log2foldchange  group   experiment  exp_id
id
1        TSPAN6      NaN             1.0  g2_g1  E-MEXP-1416       1
2          TNMD      NaN            -0.1  g2_g1  E-MEXP-1416       1
3          DPM1      NaN             2.0  g2_g1  E-MEXP-1416       1
4         SCYL3      NaN             1.6  g2_g1  E-MEXP-1416       1
5      C1orf112      NaN            -0.1  g2_g1  E-MEXP-1416       1
...         ...      ...             ...    ...          ...     ...
19044   C8orf44      NaN             0.1  g4_g3  E-MEXP-1416       2
19045    NPBWR1      NaN            -0.4  g4_g3  E-MEXP-1416       2
19046      CDR1      NaN             0.2  g4_g3  E-MEXP-1416       2
19047    ACTL10      NaN             0.1  g4_g3  E-MEXP-1416       2
19048    PRRC2B      NaN             0.1  g4_g3  E-MEXP-1416       2

[38096 rows x 6 columns]

In [36]:
tt[(tt['p-value'] < 0.05) & (tt['log2foldchange'] > 1)]

      Gene Name   p-value  log2foldchange  group   experiment  exp_id
id
31       KLHL13  0.049845             3.6  g2_g1  E-MEXP-1416       1
53        VPS50  0.049845             3.4  g2_g1  E-MEXP-1416       1
87      PRKAR2B  0.049845             2.7  g2_g1  E-MEXP-1416       1
123        TAC1  0.049995             4.6  g2_g1  E-MEXP-1416       1
224     HEATR5B  0.049845             2.5  g2_g1  E-MEXP-1416       1
...         ...       ...             ...    ...          ...     ...
8550      HERC4  0.047383             1.6  g4_g3  E-MEXP-1416       2
8865    ZNF385D  0.005873             2.9  g4_g3  E-MEXP-1416       2
10184       EN1  0.047383             2.0  g4_g3  E-MEXP-1416       2
13856  ARHGEF37  0.047383             2.8  g4_g3  E-MEXP-1416       2
15249     PARVA  0.047383             1.6  g4_g3  E-MEXP-1416       2

[392 rows x 6 columns]

In [64]:
exp_tables['E-MEXP-1416']['group'].value_counts()

g2_g1    20983
g4_g3    20983
Name: group, dtype: int64

In [84]:
for i in exp_tables:
    print(exp_tables[i].isnull().sum())

Gene Name             0
p-value           63976
log2foldchange        0
group                 0
experiment            0
exp_id                0
dtype: int64
Gene Name             0
p-value           33525
log2foldchange        0
group                 0
experiment            0
exp_id                0
dtype: int64
Gene Name             0
p-value           10924
log2foldchange        0
group                 0
experiment            0
exp_id                0
dtype: int64
Gene Name            0
p-value           4938
log2foldchange       0
group                0
experiment           0
exp_id               0
dtype: int64
Gene Name            0
p-value           6987
log2foldchange       0
group                0
experiment           0
exp_id               0
dtype: int64

### insert data to database

In [74]:
# create the engine

engine = create_engine('mysql+pymysql://pd_user:pd_password@localhost/pd_atlas')

In [75]:
exp_tables['E-MEXP-1416'].to_sql('table1', engine, if_exists='append')

RuntimeError: 'cryptography' package is required for sha256_password or caching_sha2_password auth methods

In [ ]:
tables = ['compounds',
          'chemical_data', 
          'comments', 
          'compound_origins', 
          'database_accession', 
          'names', 
          'relation']

for table in tqdm(tables):
    path = data_base_folder + table + '.tsv'
    df = pd.read_csv(path, sep='\t', encoding='latin-1', on_bad_lines='skip', index_col='ID')
    df.to_sql(table, engine2, if_exists='append')

In [68]:
for name, table in exp_tables.items():
    print(name)
    table.to_sql(name, engine, if_exists='append')

E-GEOD-7307
E-MEXP-1416
E-GEOD-7621
E-GEOD-20168
E-GEOD-20333

In [18]:
# Create tables for each experiment
# Each experiment has different groups with pvalue, log2foldchange for same genes
# hence, create a small tables with gene name, pvalue and log2foldchange for every group in a experiment
# and these small tables to one big table of single experiment
# concate tables of different groups with same experiment to one experiment table

# store tables (to insert in database)
exp_tables = pd.DataFrame(columns=['gene_name', 'p_value', 'log2foldchange', 'group_id', 'experiment_id'])

for path in datafile_paths:
    # read data files
    data = pd.read_csv(path, sep='\t')
    data.dropna(subset='Gene Name', inplace=True, axis=0)
    exp_name = os.path.basename(path).split('_')[0]
    # find the groups with same the experiment
    #groups = parkinson_exp[parkinson_exp['experiment'] == exp_name]
    # concat group tables
    for group in exp_group[exp_name]:
        colnames = {'Gene Name' : 'gene_name',
                    f'{group}.p-value' : 'p_value',
                    f'{group}.log2foldchange' : 'log2foldchange'}
        df = data[['Gene Name', f'{group}.p-value', f'{group}.log2foldchange']].copy(deep=False)
        df.rename(columns=colnames, inplace=True)
        #df.set_axis([i for i in range(1, len(df) + 1)], axis=0, inplace=True)
        #df.rename_axis('id', inplace=True)
        df['group_id'] = [group for i in range(len(df))]           # delete later
        df['experiment_id'] = [exp_name for i in range(len(df))]   # delete later
        #df['exp_id'] = [index for i in range(len(df))]          # change column name
        exp_tables = pd.concat([exp_tables, df])
#         if exp_name in exp_tables:
#             group_df = exp_tables[exp_name].copy(deep=False)
#             exp_tables[exp_name] = pd.concat([group_df, df])
#         else:
#             exp_tables[exp_name] = df

In [22]:
df_concat = pd.concat(exp_tables.values())
df_concat.reset_index(inplace=True)
df_concat.index += 1
df_concat.drop(columns=['id'], inplace=True)
df_concat.index.rename('id', inplace=True)
df_concat.columns= ['gene_name', 'p_value', 'log2foldchange', 'group_id', 'experiment_id', 'exp_id']
df_concat

#up = session.query(Expression.gene_name, Expression.log2foldchange).filer(Expression.log2foldchange > threas).join(Experiment).filter_by(name='EX-43563-3453').sort('sdfsad')

#return {'up':[dict(x) for x in up], 'down': [dict(x) for x in down]}

       gene_name   p_value  log2foldchange group_id experiment_id  exp_id
id
1         TSPAN6  0.095392            -0.5  g83_g17   E-GEOD-7307       4
2           TNMD  0.937077             0.0  g83_g17   E-GEOD-7307       4
3           DPM1       NaN            -0.4  g83_g17   E-GEOD-7307       4
4          SCYL3       NaN             0.0  g83_g17   E-GEOD-7307       4
5       C1orf112       NaN             0.0  g83_g17   E-GEOD-7307       4
...          ...       ...             ...      ...           ...     ...
172735  ERC2-IT1       NaN             0.4    g2_g1  E-GEOD-20333       3
172736    ADORA3       NaN             0.3    g2_g1  E-GEOD-20333       3
172737      H3C2       NaN            -0.1    g2_g1  E-GEOD-20333       3
172738      H3C3       NaN             0.1    g2_g1  E-GEOD-20333       3
172739      CDR1       NaN            -0.2    g2_g1  E-GEOD-20333       3

[172739 rows x 6 columns]

In [20]:
exp_tables['group_id'].value_counts()

g2_g1      38545
g83_g17    19205
g82_g16    19205
g72_g15    19205
g63_g14    19205
g48_g13    19205
g1_g2      19121
g4_g3      19048
Name: group_id, dtype: int64

In [21]:
exp_tables['experiment_id'].value_counts()

E-GEOD-7307     96025
E-MEXP-1416     38096
E-GEOD-7621     19121
E-GEOD-20168    11900
E-GEOD-20333     7597
Name: experiment_id, dtype: int64

In [17]:
pd.DataFrame(columns=['gene_name', 'p_value', 'log2foldchange', 'group_id', 'experiment_id'])

E-GEOD-7307 (96025, 6)
E-MEXP-1416 (38096, 6)
E-GEOD-7621 (19121, 6)
E-GEOD-20168 (11900, 6)
E-GEOD-20333 (7597, 6)

Empty DataFrame
Columns: [gene_name, p_value, log2foldchange, group_id, experiment_id]
Index: []