In [2]:
from sqlalchemy.orm import relationship
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Table, ForeignKey,Float

from collections import defaultdict

Base = declarative_base()

con_str ='mysql+pymysql://ea_user:ea_password@localhost/expression_atlas'
engine = create_engine(con_str)

class Experiments(Base):
    __tablename__ = 'parkinson_experiment'
    id = Column(Integer,primary_key = True)
    experiment_id = Column(String,nullable=False)
    group_id = Column(String,nullable=False)

class Experiment_1(Base):
    __tablename__ = 'E-MEXP-1416'
    id = Column(Integer,primary_key = True)
    gene_name = Column(String,nullable=False)
    p_value = Column(Float,nullable=False)
    log2foldchange = Column(Float,nullable=False)
    experiment_group = Column(Integer, ForeignKey('parkinson_experiment.id'), nullable=False)

class Experiment_2(Base):
    __tablename__ = 'E-GEOD-20333'
    id = Column(Integer,primary_key = True)
    gene_name = Column(String,nullable=False)
    p_value = Column(Float,nullable=False)
    log2foldchange = Column(Float,nullable=False)
    experiment_group = Column(Integer, ForeignKey('parkinson_experiment.id'), nullable=False)

class Experiment_3(Base):
    __tablename__ = 'E-GEOD-7307'
    id = Column(Integer,primary_key = True)
    gene_name = Column(String,nullable=False)
    p_value = Column(Float,nullable=False)
    log2foldchange = Column(Float,nullable=False)
    experiment_group = Column(Integer, ForeignKey('parkinson_experiment.id'), nullable=False)
    
class Experiment_4(Base):
    __tablename__ = 'E-GEOD-7621'
    id = Column(Integer,primary_key = True)
    gene_name = Column(String,nullable=False)
    p_value = Column(Float,nullable=False)
    log2foldchange = Column(Float,nullable=False)
    experiment_group = Column(Integer, ForeignKey('parkinson_experiment.id'), nullable=False)
    
class Experiment_5(Base):
    __tablename__ = 'E-GEOD-20168'
    id = Column(Integer,primary_key = True)
    gene_name = Column(String,nullable=False)
    p_value = Column(Float,nullable=False)
    log2foldchange = Column(Float,nullable=False)
    experiment_group = Column(Integer, ForeignKey('parkinson_experiment.id'), nullable=False)